body{ position: absolute; left: 0; top: 0; bottom: 0; width: 100%; height: 100%; -webkit-overflow-scrolling: touch; transform-style: preserve-3d;}
.navbar { background:transparent; border: none;}
.navbar-brand {  height: auto; line-height: initial; font-family: YW; padding: 23px 15px; font-size: 28px; color: #c9e1f7 !important; font-weight: bold; text-shadow: 1px 1px #FFF; user-select: none;}
.navbar-nav li { display: inline-block;  margin: 0 15px;text-transform: unset; letter-spacing: 2px; }
.navbar-nav li a { display: block; padding: 30px; color: #FFF !important; font-size: 22px; font-family: "PT Sans Narrow", sans-serif; text-decoration: none; transition: transform 0.5s ease 0s; transform-origin: top; transform-style: preserve-3d;}
.navbar-nav li:hover a { background: #fff; color: #a4cff8 !important; transform: rotateX(90deg) translateY(-20px); cursor: pointer; }
.navbar-nav li a.active { color: #a4cff8 !important; }
.navbar-nav li a::after { position: absolute; top: 100%; left: 0px; width: 100%; text-align: center; line-height: 80px; background: none repeat scroll 0% 0% #a4cff8; color: #FFF; content: attr(data-hover); transform: rotateX(-90deg); transform-origin: top;  }
.banner { position: relative; background: url('../img/banner3.jpg') no-repeat center center fixed / auto;}
.banner ul { position: absolute; left: 50%; top: 50%; margin: 0; transform: translate(-50%,-50%); font-size: 18px; color: #FFF;}
.banner ul li p { transition: all 1s ease-out; text-shadow: 1px 1px #000; transform-style: preserve-3d;}
.banner ul li p:nth-child(odd) { opacity: 0; transform: translateX(-100%);}
.banner ul li p:nth-child(even) { opacity: 0; transform: translateX(100%);}
/* 通用文章标题 */
.title-general { margin:50px; text-align: center; font-weight: bold; color: #000; font-size: 20px;}
.title-general span { border-bottom: 2px solid #000; padding-bottom: 5px;}
/* 文章hover效果 */
.row div { position: relative; background-color: #FFF; border-radius: 10px; cursor: pointer;}
.row div div:hover .cover { opacity: 1;}
.row div .cover { opacity: 0; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .5);  transition: all 1s ease; }
.col-1 { padding: 10px;}

.pic img { display: block; width: 100%; border-radius: 10px;}
.pic img:first-child{ margin-bottom: 13px;}
/* 页尾 */
.footer { padding-top: 50px; padding-bottom: 50px; margin-top: 100px; color: #99979c; text-align: center; background-color: #2a2730;}
.footer dl { margin-bottom: 0;}
.footer dl dt{ display: inline-block; margin-bottom: 0; font-size: 28px; text-align: left; color: #c9e1f7 !important; font-family: YW; font-weight: bold; text-shadow: 1px 1px #FFF; user-select: none;}