* { -webkit-tap-highlight-color:transparent;}
body,p,dd,h1,h2,h3,h4,b{ margin:0; font-weight:normal;}
dl { margin:0;}
ul{ list-style:none; margin:0; padding:0;}
ol{ list-style:none; margin:0; padding:0;}
img{ border:none;}
/*b { font-weight:normal;}*/
a{ text-decoration:none; }
input,select{border:none; outline:medium; -webkit-appearance:none; }
i,em,s{ font-style:normal; text-decoration:none;}
li { -webkit-tap-highlight-color:transparent;}
/* 特殊作用 */
.ClearFix:after{ display:block; content:""; clear:both;}
dl:after { display:block; content:""; clear:both;}
@font-face { 
    src:url('../fonts/Dr-Carbfred.ttf');
    font-family: YW;
}
@font-face { 
    src:url('../fonts/fzchyj.ttf');
    font-family: fzchyj;
}
@font-face { 
    src:url('../fonts/PTSans.ttf');
    font-family: PTSans;
    font-weight: normal;
}
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* only needed once */
body { margin-right:-14px!important; overflow-y:scroll; overflow-x:hidden;}
/*Chrome下隐藏滚动条，溢出可以透明滚动*/
html::-webkit-scrollbar{width:0px}